.featured-item{
    background-image:url('../../../assets/pexels-kubiceknov-924824.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 20px; */
}